body {
  background-color: #f7f8fc;
}

* {
  /* font-family: 'Noto Sans JP' !important; */
  font-family: "Heebo", sans-serif;
}

.font-loader {
  /*font-family: 'Moon Dance', cursive;*/
  font-family: "The Nautigal", cursive;
  /*font-size: 35px;*/
}
